<div th:fragment="main-form" class="container">
	<h2>Add New Task</h2>
	<form id="addRegister" class="form-horizontal" action="/app/api/register" method="post">

		<div class="form-group">
			<label class="control-label col-sm-2" for="name">TAG:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="tag"
					placeholder="TURKCELL" name="tag">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="type">CFP:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="cfp" placeholder="A00"
					name="cfp">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="value">FT_ID:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="ftid"
					placeholder="FTID01" name="ftid">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="value">JIRA TASK:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="jiratask"
					placeholder="TASK01" name="jiratask">
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="value">SPRINT</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="springt"
					placeholder="App Name" name="springt">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="value">COST TYPE:</label>
			<div class="col-sm-3">
				<select id="selected_costtype" v-model="selected_costtype" name="costType">
				  <option disabled value="">Please Select Cost</option>
				  <option v-for="ctype in cost_types" v-bind:value="ctype.id">{{ctype.costname | Upper}}</option>
				</select>
			</div>

			<label class="control-label col-sm-2" for="value">HOUR:</label>
			<div class="col-sm-3">
				<select id="selected_hour" v-model="selected_hour" name="hour">
				  <option disabled value="">Please Select Hour</option>
				 <option v-for="n in 40" v-bind:value="n">{{n}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="value">TEAM:</label>
			<div class="col-sm-3">
				<select id="selected_teamname" v-model="selected_teamname" name="registerUserteam">
				  <option disabled value="">Please Select Team</option>
				  <option v-for="tname in team_names" v-bind:value="tname.id">{{tname.teamname | Upper}}</option>
				</select>
			</div>

			<label class="control-label col-sm-2" for="value">STATUS:</label>
			<div class="col-sm-3">
				<select id="selected_status" v-model="selected_status" name="statusType">
				  <option disabled value="">Please Select Status</option>
				  <option v-for="stype in status_types" v-bind:value="stype.id">{{stype.statusname | Upper}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="comment">DEFINATION:</label>
			<div class="col-sm-10">
				<textarea class="form-control" name="defination" rows="5" id="comment"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit"
					class="btn btn-success">Add New Config</button>
			</div>
		</div>

	</form>
</div>