<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/header :: header('Configuration')" />
<link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
	<div id="app-menu">
		<navbar th:replace="fragments/conf-navbar :: conf-navbar " />
	</div>

	<div id="app-config" class="container">
		<h2>Configuration</h2>
		<div class="form-group">
			<label class="control-label col-sm-2" for="value">RE-Configure</label>
			<div class="col-sm-3">
				<select v-model="selected_config">
					<option disabled value="">Select Re-Config Type</option>
					<option v-for="header in header_list" v-bind:value="header.value">{{header.text
						| Upper}}</option>
				</select>
			</div>
			<a v-show="selected_config" class="btn btn-success"
				th:onclick="|app_config.showModal('', '')|" data-toggle="modal"
				data-target="#exampleModal"> New </a>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>ADD</th>
					<th>DELETE</th>
				</tr>
			</thead>
			<tbody>
				<tr v-if="selected_config === 'userteam'"
					th:each="userteam : ${userteams}">
					<td th:text="${userteam.id}">ID</td>
					<td th:text="${userteam.teamname}">NAME</td>
					<td><a class="btn btn-primary"
						th:onclick="|app_config.showModal('${userteam.id}', '${userteam.teamname}')|"
						data-toggle="modal" data-target="#exampleModal"> Edit </a></td>
					<td><a class="btn btn-danger"
						th:onclick="|app_config.deleteConfig('${userteam.id}')|"> Delete
					</a></td>
				</tr>
				<tr v-if="selected_config === 'costtype'"
					th:each="ctype : ${costtypes}">
					<td th:text="${ctype.id}">ID</td>
					<td th:text="${ctype.costname}">NAME</td>
					<td><a class="btn btn-primary"
						th:onclick="|app_config.showModal('${ctype.id}', '${ctype.costname}')|"
						data-toggle="modal" data-target="#exampleModal"> Edit </a></td>
					<td><a class="btn btn-danger"
						th:onclick="|app_config.deleteConfig('${ctype.id}')|"> Delete
					</a></td>
				</tr>

				<tr v-if="selected_config === 'permtype'"
					th:each="ptype : ${permtypes}">
					<td th:text="${ptype.id}">ID</td>
					<td th:text="${ptype.permname}">NAME</td>
					<td><a class="btn btn-primary"
						th:onclick="|app_config.showModal('${ptype.id}', '${ptype.permname}')|"
						data-toggle="modal" data-target="#exampleModal"> Edit </a></td>
					<td><a class="btn btn-danger"
						th:onclick="|app_config.deleteConfig('${ptype.id}')|"> Delete
					</a></td>
				</tr>

				<tr v-if="selected_config === 'statustype'"
					th:each="stype : ${status}">
					<td th:text="${stype.id}">ID</td>
					<td th:text="${stype.statusname}">NAME</td>
					<td><a class="btn btn-primary"
						th:onclick="|app_config.showModal('${stype.id}', '${stype.statusname}')|"
						data-toggle="modal" data-target="#exampleModal"> Edit </a></td>
					<td><a class="btn btn-danger"
						th:onclick="|app_config.deleteConfig('${stype.id}')|"> Delete
					</a></td>
				</tr>
			</tbody>
		</table>

		<div class="myForm">
			<form>
				<div class="modal fade" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Update or
									Create</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<div class="form-group">
									<label for="id" class="col-form-label">Id:</label> <input
										type="text" class="form-control " disabled="disabled" id="id"
										name="id" v-bind:value="id" />
								</div>
								<div class="form-group">
									<label for="name" class="col-form-label">Name:</label> <input
										type="text" class="form-control" id="name" name="name"
										v-model="name" />
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button v-on:click="createConfig()" type="button"
									class="btn btn-primary">Submit</button>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script type="text/javascript" src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/app-config.js"></script>
</div>
</html>
